@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #0c1223;

  color: #e0e6f0;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.e-k-header.is-open .e-k-header-background {
  left: 0;
}
.e-k-header-button-wrapper {
  margin-left: auto;
}
.e-k-header-icon {
  display: none;
}

.e-k-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.e-k-navigation-list.is-open {
  right: 0;
}
.e-k-header-icon-menu {
  display: block;
}

.e-k-header-icon-button.is-open .e-k-header-icon-menu {
  display: none;
}

.e-k-header-icon-button.is-open .e-k-header-icon-close {
  display: block;
}

.e-k-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
}

.e-k-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #0c1223;
}
.e-k-header.is-open .e-k-header-background {
  left: 0;
}
.e-k-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.e-k-header-icon-menu {
  display: block;
}

.e-k-header-icon-button.is-open .e-k-header-icon-menu {
  display: none;
}

.e-k-header-icon-button.is-open .e-k-header-icon-close {
  display: block;
}

.e-k-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px 20px;
  position: relative;
}

.e-k-navigation-list {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 100px 0 0 170px;
  gap: 32px;
  background: #0c1223;
}

.e-k-navigation-link {
  font-family: Titillium Web;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #4ac1ff;
}

.e-k-navigation-link:hover,
.e-k-navigatioт-link:focus {
  font-weight: 700;
}
.e-k-navigation-list.is-open {
  right: 0;
}
.e-k-header.is-open {
  background-color: transparent;
}

.e-k-navigation-img {
  display: none;
}

@media screen and (min-width: 1207px) {
  .e-k-navigation-img {
    display: flex;
  }
  .e-k-policy-terms-header-icon-menu {
    display: none;
  }
  .w-b-header-button-wrapper {
    display: none;
  }
  .e-k-header {
    width: 100%;
    height: 90px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .e-k-header-background {
  }
  .e-k-header-icon-button {
    display: none;
  }
  .e-k-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .e-k-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 127px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .e-k-navigation-link {
    font-family: Titillium Web;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;

    text-decoration: none;
  }

  .e-k-navigation-item-desk {
    display: none;
  }
}
.e-k-home {
  width: 375px;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home\ mobile.png");
  margin: auto;
}

.e-k-home-title {
  display: none;
}

@media screen and (min-width: 1207px) {
  .e-k-home {
    width: 1440px;
    height: 820px;
    background-image: url("/img/home/Home.png");
  }
  .e-k-home-container {
    width: 1440px;
    padding: 106px 0px 0px;
  }
  .e-k-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .e-k-home-title {
    display: flex;
    width: 782px;
  }
}
.e-k-about {
  margin: auto;
  width: 375px;
  padding-top: 80px;
}
.e-k-about-container {
  padding: 0px 20px 0px;
  margin: auto;
  height: 432px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/About.png");
}
.e-k-about-title {
  font-family: Audiowide;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #ff5f4d;
}
.e-k-about-text {
  font-family: Titillium Web;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding-top: 231px;
}

.e-k-about-text-bold {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .e-k-about {
    margin: auto;
    width: 1440px;
    padding: 150px 80px 0;
  }
  .e-k-about-container {
    padding: 0px 20px 0px;
    margin: auto;
    height: 379px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/About\ \(1\).png");
  }
  .e-k-about-title {
    font-family: Audiowide;
    font-weight: 400;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }
  .e-k-about-text {
    padding-top: 36px;
    width: 630px;
  }
}

.e-k-how {
  margin: auto;
  width: 375px;
  padding: 80px 0;
}
.e-k-how-container {
  margin: auto;
  height: 752px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/How\ to\ play.png");
  padding: 0px 20px 0;
}
.e-k-how-list {
  padding-top: 373px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.e-k-how-item {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  border: 1px solid #ff5f4d;
  width: 335px;
  height: 76px;
  border-radius: 16px;
  padding: 7px 8.5px;
}

@media screen and (min-width: 1207px) {
  .e-k-how {
    margin: auto;
    width: 1440px;
    padding: 150px 80px;
  }
  .e-k-how-container {
    margin: auto;
    height: 439px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/img/How\ to\ play\ \(1\).png");
    padding: 0px 433px 0;
  }
  .e-k-how-list {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .e-k-how-item {
    border: 1px solid #ff5f4d;
    width: 414px;
    height: 76px;
    gap: 10px;
    padding: 7px 19px;
  }
}

.e-k-why-container {
  padding: 80px 16px 0;
  margin: auto;
  width: 375px;
}
.e-k-why-list {
  padding-top: 28px;
}
.e-k-why-item {
  margin: 0 10px;
  width: 305px;
  height: 591px;
}
.e-k-why-text-bold {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  color: #4ac1ff;
  padding: 12px 22px;
}

.e-k-why-text {
  font-family: Titillium Web;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 12px;
}

@media screen and (min-width: 1207px) {
  .e-k-why-container {
    padding: 150px 80px 0;
    margin: auto;
    width: 1440px;
  }
  .e-k-why-list {
    padding-top: 36px;
  }
}

.e-k-reviews-container {
  margin: auto;
  padding: 80px 20px 0;
  width: 375px;
}
.e-k-reviews-list {
  padding-top: 28px;
}

.e-k-reviews-item {
  margin: 0 10px;
  width: 305px;
  height: 222px;
  padding: 20px 34px;
  border-radius: 20px;

  border: 1px solid #ff5f4d;
}

.e-k-reviews-text {
  font-family: Titillium Web;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  padding: 16px 0 18px;
}

.e-k-reviews-item-top {
  display: flex;
  gap: 24px;
  align-items: center;
}
.e-k-reviews-img {
  width: 72px;
  height: 72px;
}
.e-k-reviews-text-bold {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #4ac1ff;
}

@media screen and (min-width: 1207px) {
  .e-k-reviews-container {
    margin: auto;
    padding: 150px 80px 0;
    width: 1440px;
  }
  .e-k-reviews-list {
    padding: 36px 0 28px;
  }
}

.e-k-gallery-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.e-k-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.e-k-gallery-item {
  width: 335px;
  height: 188px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.e-k-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.e-k-gallery-button-container {
  display: none;
}
@media screen and (min-width: 1207px) {
  .e-k-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 104px;
  }

  .e-k-gallery-button {
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: scale 0.3s ease;
    transition: scale 0.3s ease;
  }
  .e-k-gallery-button-icon {
    width: 46px;
    height: 22px;
  }
  .e-k-gallery-button:hover {
    scale: 120%;
  }

  .e-k-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }
  .e-k-gallery-item {
    width: 521px;
    height: 293px;
    border-radius: 16px;

    margin: 0 10px;
  }

  .e-k-gallery-list {
    padding-top: 36px;
  }
}

.e-k-features-container {
  width: 375px;
  margin: auto;
  padding: 80px 20px 0px;
}
.e-k-features-list {
  padding-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.e-k-features-item {
  display: flex;
  gap: 6px;
}

.e-k-features-img {
  width: 102px;
  height: 108px;
  border-radius: 16px;
}
.e-k-features-text {
  font-family: Titillium Web;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  width: 222px;
  height: 108px;
  gap: 10px;
  padding: 17px 1px;
  border-radius: 16px;
  border-width: 1px;
  border: 1px solid #ff5f4d;
}

.e-k-features-text-bold {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (min-width: 1207px) {
  .e-k-features-container {
    width: 1440px;
    margin: auto;
    padding: 150px 80px 0px;
  }
  .e-k-features-list {
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .e-k-features-item {
    display: flex;
    gap: 6px;
  }

  .e-k-features-img {
    width: 102px;
    height: 108px;
    border-radius: 16px;
  }
  .e-k-features-text {
    font-family: Titillium Web;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;

    width: 305px;
    height: 108px;

    border-radius: 16px;
    padding: 28px 10px;
  }

  .e-k-features-text-bold {
    font-family: Titillium Web;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-k-policy-terms-container {
  padding: 140px 30px 40px;
  width: 375px;
  margin: auto;
  font-family: Titillium Web;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
}

.e-k-policy-terms-container h1 {
  font-family: Audiowide;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  color: #ff5f4d;
  padding-bottom: 30px;
}
.e-k-policy-terms-container h2 {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;

  margin-top: 20px;
}
.e-k-policy-terms-container ul {
  list-style-type: disc;
  margin: 0px 0 0 20px;
}

.e-k-email-link {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1207px) {
  .e-k-policy-terms-container {
    padding: 108px 180px 60px;
    width: 1440px;
  }
}

.e-k-footer-container {
  background: #ff5f4d;

  width: 375px;
  padding: 53px 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #0c1223;
  gap: 27px;
}

.e-k-footer-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;

  gap: 16px;
}

.e-k-footer-text {
  text-decoration: none;
  color: inherit;
}

.e-k-footer-copyright {
  font-family: Titillium Web;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
}

@media screen and (min-width: 1207px) {
  .e-k-footer-container {
    width: 1440px;
    padding: 46px 180px;
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .e-k-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 266px;
    font-family: Titillium Web;
    font-weight: 400;
    font-size: 26px;
    line-height: 150%;
    letter-spacing: 0%;
  }

  .e-k-footer-copyright {
    font-family: Titillium Web;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.e-k-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 38px 22px;
  background: #e0e6f0;

  z-index: 1000;
  display: none;
}

.e-k-cookie-popup-text-two {
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;

  color: #0c1223;
}

.e-k-cookie-button-container {
  padding: 24px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.e-k-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid #0c1223;
  width: 295px;

  border-radius: 40px;
  padding-top: 24px;

  padding-bottom: 24px;
  font-family: Titillium Web;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #0c1223;
}

#accept-cookies {
  background: #0c1223;
  color: #e0e6f0;
}

.e-k-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1207px) {
  .e-k-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 180px;
  }

  .e-k-cookie-popup-text-two {
    font-family: Titillium Web;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;

    width: 595px;
  }

  .e-k-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 26px;
  }

  .e-k-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 35px;
    display: none;
  }
}
